@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&display=swap');

html {
    padding:0px;
    margin:0px;
}
body {
    background-color:transparent;
    color:#333333;
    padding:0px;
    margin:0px;
    font-size:14px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.4;
    position: relative;
}
hr {border: 0 #e6e6e6 solid;border-top-width:1px;clear:both;display:block;height:0;margin:0px auto;}

.message{
    background-color: #1053BA;
    color:#ffffff;
    text-align: center;
    width:300px;
    font-size:14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position:absolute;
    top:-100px;
    left:50%;
    margin-left:-150px;
    padding:20px;
    z-index:9999;
    animation-duration: 5s;
    animation-name: message-animation;
}
@keyframes message-animation {
    10% {
        top: -100px;
    }
    30% {
        top: 30px;
    }
    90% {
        top: 30px;
    }
    100% {
        top: -100px;
    }
}

header {
    padding: 20px 40px;
    background-color: #ffffff;
    a{
        color:#333333;
    }
    a:hover{
        color:#333333;
    }
    .logo{
        display:block;
        width:140px;
        height:32px;
        background-color: transparent;
        background-image: url("../files/images/template/listenlang-icon.svg"), url("../files/images/template/listenlang.svg");
        background-size: contain, auto 20px;
        background-repeat: no-repeat, no-repeat;
        background-position: center left, center right;
        text-indent:-120%;
        overflow:hidden;
        position:relative;
    }
    ul{
        list-style: none;
        padding:0px;
        margin:0px;
        display:flex;
    }
    ul li{
        padding:5px 5px;
        margin:0px;
        position:relative;
    }
    ul li a{
        display:block;
        padding:4px 6px;
        line-height:1;
        position:relative;
    }
    ul li a.icon{
        padding-left:25px;
    }
    ul li a.icon span.icon{
        position:absolute;
        top:50%;
        left:0px;
        margin-top:-8px;
    }
    ul.lang{
        font-size:12px;
        font-weight:700;
    }
    ul.lang li a.active{
        background-color: #1053BA;
        color:#ffffff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    ul.lang li a.active:hover{
        text-decoration: none;
    }
}
header.uk-active {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.4);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.4);
}
.uk-dropdown {
    padding: 4px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-width: 160px;
    ul{
        display:block;
        padding:0px;
        margin:0px;
    }
    ul li{
        display:block;
        padding:0px;
        margin:0px;
    }
    ul li a{
        color:#333333;
        padding:8px 10px;
        display:block;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    ul li a:hover{
        background:#edeef3;
        color:#333333;
        text-decoration: none;
    }
}

main {
    padding: 0px 40px;
}
main.admin {
    padding: 0px 40px;
}
.auth-card{
    padding: 20px;
    width:400px;
}

footer {
    padding: 20px 40px;
    font-size: 12px;
    color: #8189a9;
    a {
        color: #8189a9;
        text-decoration: underline;
    }
    a:hover {
        color: #8189a9;
        text-decoration: none;
    }
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        display:flex;
        li{
            padding: 0px;
            a{
                display:block;
                padding: 0px 0px 0px 20px;
            }
        }
    }
}

.uk-offcanvas-close {margin-top:0px;margin-right:0px;top:10px;right:10px;}
.uk-offcanvas-close svg{color:#666666;}
.uk-offcanvas-bar{
    background-color:#FFFFFF;color:#333333;padding:0px;margin:0px;
    a{
        color:#333333;
    }
    a:hover{
        color:#333333;
    }
    .container{
        padding-top:40px;
    }
    ul{
        padding:0px;
        margin:0px;
        list-style:none;
    }
    ul li{
        padding:0px;
        margin:0px;
        position:relative;
    }
    ul li.divider{
        height:20px;
    }
    ul li.divider:after{
        content:"";
        position:absolute;
        left: 15px;
        right: 15px;
        bottom: 50%;
        height: 1px;
        background:#ccc;
    }
    ul li a{
        display:block;
        padding:6px 15px;
        margin:0px;
        text-transform: uppercase;
        position:relative;
    }
    ul li a.small{
        text-transform: none;
    }
    ul li a.logout {
        text-transform: none;
        color:#666666;
        padding-left:35px;
    }
    ul li p{
        display:block;
        padding:6px 15px;
        margin:0px;
        position:relative;
    }
    ul li .name{
        font-weight:700;
        text-transform:none;
    }
    ul li .icon{
        padding-left:35px;
    }
    ul li .icon span.icon{
        position:absolute;
        top:50%;
        left:-20px;
        margin-top:-9px;
    }
    .container-bottom{
        position:absolute;
        bottom:0px;
        left:0px;
        right:0px;
        padding:20px;
        background-color: #1053BA;
        color:#ffffff;
    }
    .container-bottom ul.lang{
        display:flex;
        justify-content: center;
    }
    .container-bottom ul.lang li{
        padding: 4px;
    }
    .container-bottom ul.lang li a{
        padding:3px 8px;
        font-size:12px;
        border:1px solid #ffffff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .container-bottom ul.lang li a.active{
        background-color: #ffffff;
        color: #1053BA;
    }
    .container-bottom a{
        color:#ffffff;
    }
}

.alert{
    background-color: #F5F5F5;
    padding:20px;
}

.uk-sortable-drag{
    .item {
        border:1px solid #ccc;
        padding:10px 20px;
        display: block;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        background-color: #fff;
        .item-id{
            min-width:60px;
            font-size:12px;
            color:#666;
        }
    }
}



.validation-error{
    color: #e72727;
    font-style: italic;
    display:block;
    padding-top:6px;
}

.items{
    .item{
        margin:4px 0px;
        border:1px solid #ccc;
        padding:10px 15px;
        display: block;
        background-color: #fff;
        .item-id{
            font-size:12px;
            color:#666;
            display:block;
            min-width:60px;
        }
    }
}

a svg {
    color:#333;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.status{
    display:block;
    width: 12px;
    height: 12px;
    background-color: #666666;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.status-1{
    background-color: #2bc20c;
}

label{
    font-weight: 700;
    display: inline-block;
    padding: 3px 0px;
}

.box-border{
    margin-top:15px;
    border:1px solid #ccc;
    padding:20px;
    position: relative;
    .box-border-label{
        position:absolute;
        left:20px;
        top:-10px;
        display:block;
        padding:0px 15px;
        background-color: #fff;
        font-weight: 700;
    }
    ul.category{
        list-style: none;
        padding:0px;
        margin:0px;
        li{
            padding:2px 0px;
            margin:0px;
            font-weight:700;
        }
        li.second{
            padding-left:15px;
            font-weight:500;
        }
        a{
            color:#333;
        }
        a.active{
            color:#1e87f0;
        }
    }
}

.pagination{
    text-align: center;
    padding:0px;
    margin:0px;
    list-style: none;
    display:flex;
    font-size:14px;
    a {
        text-decoration: none;
        min-width:16px;
    }
    a:hover {
        text-decoration: none;
    }
    li{
        padding:2px;
        margin:0;
        span{
            display:block;
            padding: 4px 8px;
            border:1px solid #ccc;
            min-width:16px;
        }
        a{
            display:block;
            padding: 4px 8px;
            border:1px solid #ccc;
        }
        a:hover{
            background-color: #1053ba;
            border:1px solid #1053ba;
            color: #fff;
        }
    }
    li.active{
        span{
            background-color: #1053ba;
            border:1px solid #1053ba;
            color: #fff;
        }
    }
    li.disabled{
        span{
            background-color: #fff;
            border:1px solid #d2d2d2;
            color: #d2d2d2;
        }
    }
}

ul.tags{
    padding: 0;
    margin: 0;
    list-style:none;
    display:flex;
    flex-wrap: wrap;
    li{
        padding: 2px 6px 2px 2px;
        margin: 0;
        span{
            display:block;
            padding: 3px 15px;
            border:1px solid #fff;
        }
        a{
            display:block;
            padding: 4px 10px;
            -webkit-border-radius: 22px;
            -moz-border-radius: 22px;
            border-radius: 22px;
            border:1px solid #dae3f3;
            background: #fff;
            font-size:12px;
            text-decoration: none;
            color:#0e49a3;
        }
        a:hover{
            border:1px solid #afc9ea;
            background: #dae3f3;
            color:#0e49a3;
        }
        a.active{
            border:1px solid #0e49a3;
            background:#0e49a3;
            color:#fff;
        }
    }
}

.tags-list{
    p{
        display:block;
        padding:5px 0px;
        margin:0px;
    }
}

.expression{
    padding-top:11px;
}

h1{
    font-size:30px;
    .category{
        font-size:18px;
        font-weight:700;
    }
}

.home-category{
    max-width:1200px;
    padding: 15px;
}
.category-box{
    -webkit-transition: -webkit-box-shadow .3s ease-out;
    -moz-transition: -moz-box-shadow .3s ease-out;
    -o-transition: box-shadow .3s ease-out;
    transition: box-shadow .3s ease-out;
    background:#fff;
    padding:0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    .category-box-header{
        font-size: 12px;
        color: #afafaf;
    }
    .category-box-link{
        display:block;
        text-align: center;
        font-weight: 700;
        font-size:16px;
    }
    .category-box-ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        li{
            position:relative;
            padding: 0px;
            a{
                display:block;
                padding:3px 30px 3px 0px;
                color:#333333;
            }
            span{
                position:absolute;
                right:0px;
                top:4px;
                color: #afafaf;
                font-size: 12px;
            }
        }
    }
}
.category-box:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}

.category-box-padding{
    padding:15px;
}

.expression-title{
    position:absolute;
    top:50px;
    left:0px;
    width:100%;
    display:block;
    text-align:center;
    z-index: 1;
}
.expression-back{
    position:absolute;
    top:20px;
    left:20px;
    z-index: 2;
}
.expression-count{
    position:absolute;
    bottom:50px;
    left:30px;
    z-index: 2;
}
.expression-control{
    position:absolute;
    bottom:30px;
    right:30px;
    z-index: 2;
    .button {
        background-color: #fff;
        border:2px solid #c2c2c2;
        display:inline-block;
        cursor:pointer;
        text-decoration:none;
        width: 48px;
        height: 48px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin:3px;
        position: relative;
    }
    .button:after {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height: 100%;
        display: block;
        content: "";
    }
    .button:hover {
        background-color: #1053BA;
        border:2px solid #1053BA;
    }
    .button-active {
        background-color: #1053BA;
        border:2px solid #1053BA;
    }
    .button-play:after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23999' d='M5,22V2l18,10L5,22z'/%3E%3C/svg%3E%0A");}
    .button-pause:after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23999' d='M11 22h-4v-20h4v20zm6-20h-4v20h4v-20z'/%3E%3C/svg%3E");}
    .button-restart:after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23999' d='M11.8,3c-4.9,0-8.9,3.9-9.2,8.8H0l4,5.2l3.9-5.2H5.3c0.2-3.4,3.1-6.1,6.5-6.1c3.6,0,6.6,2.9,6.6,6.6s-2.9,6.6-6.6,6.6 c-2.1,0-3.9-1-5.1-2.5l-1.6,2.1c1.7,1.8,4.1,3,6.8,3c5.1,0,9.2-4.1,9.2-9.2S16.9,3,11.8,3z'/%3E%3C/svg%3E%0A");}
    .button-play:hover:after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M5,22V2l18,10L5,22z'/%3E%3C/svg%3E%0A");}
    .button-pause:hover:after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M11 22h-4v-20h4v20zm6-20h-4v20h4v-20z'/%3E%3C/svg%3E");}
    .button-restart:hover:after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M11.8,3c-4.9,0-8.9,3.9-9.2,8.8H0l4,5.2l3.9-5.2H5.3c0.2-3.4,3.1-6.1,6.5-6.1c3.6,0,6.6,2.9,6.6,6.6s-2.9,6.6-6.6,6.6 c-2.1,0-3.9-1-5.1-2.5l-1.6,2.1c1.7,1.8,4.1,3,6.8,3c5.1,0,9.2-4.1,9.2-9.2S16.9,3,11.8,3z'/%3E%3C/svg%3E%0A");}
    .button-active.button-play:after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M5,22V2l18,10L5,22z'/%3E%3C/svg%3E%0A");}
    .button-active.button-pause:hover:after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M11 22h-4v-20h4v20zm6-20h-4v20h4v-20z'/%3E%3C/svg%3E");}
    .button-active.button-restart:hover:after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M11.8,3c-4.9,0-8.9,3.9-9.2,8.8H0l4,5.2l3.9-5.2H5.3c0.2-3.4,3.1-6.1,6.5-6.1c3.6,0,6.6,2.9,6.6,6.6s-2.9,6.6-6.6,6.6 c-2.1,0-3.9-1-5.1-2.5l-1.6,2.1c1.7,1.8,4.1,3,6.8,3c5.1,0,9.2-4.1,9.2-9.2S16.9,3,11.8,3z'/%3E%3C/svg%3E%0A");}
}

.expression-time{
    position:absolute;
    bottom:60px;
    left:50%;
    width:400px;
    margin-left:-200px;
    height:2px;
    z-index: 2;
    display: block;
    span{
        display: block;
        width:0%;
        height:100%;
        background:#666;
    }
}

.welcome{
    text-align:center;
}
.select-lang-box{
    display: flex;
    .select-langs{
        background:#fff;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
        position: relative;
        .button{
            position: absolute;
            right:10px;
            top: 7px;
        }
        .select-lang-title{
            display:block;
            position: relative;
            text-align:center;
            text-transform: uppercase;
            width:160px;
            padding:8px;
            cursor:pointer;
            color:#333;
            text-decoration: none;
        }
        .select-lang-title:hover{
            text-decoration: none;
            color:#333;
        }
        ul{
            padding:5px 0px;
            margin: 0px;
            list-style: none;
            li{
                padding:5px 10px;
                cursor:pointer;
            }
            li:hover{
                text-decoration: underline;
            }
        }
    }
    .reverse{
        display:block;
        cursor: pointer;
        width:50px;
        height:34px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M22,5.9H4.2l3.3-3.3c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L1.1,6.2c-0.4,0.4-0.4,1,0,1.4l5.1,5.1 C6.3,12.9,6.6,13,6.8,13s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L4.2,8H22c0.6,0,1-0.5,1-1S22.6,5.9,22,5.9z'/%3E%3Cpath fill='%23333' d='M17.7,11.3c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4l3.3,3.3H1.8c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h17.8 l-3.3,3.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3c0.3,0,0.5-0.1,0.7-0.3l5.1-5.1c0.4-0.4,0.4-1,0-1.4L17.7,11.3z'/%3E%3C/svg%3E%0A");
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .reverse-line{
        cursor: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M17.7,6.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l3.3,3.3H1.8c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h17.8l-3.3,3.3 c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3c0.3,0,0.5-0.1,0.7-0.3l5.1-5.1c0.4-0.4,0.4-1,0-1.4L17.7,6.3z'/%3E%3C/svg%3E%0A");
    }
}

.expression-items{
    list-style:none;
    padding: 0px 0px 20px 0px;
    margin: 0px;
    text-align: center;
    li{
        padding:10px;
        display:none;
        div{
            font-size:52px;
            font-weight: 700;
            padding:10px;
            color: #9e9e9e;
        }
        div.divider{
            display:inline-block;
            width:100px;
            height:2px;
            padding:0px;
            background: #c9c9c9;
        }
        div.active{
            color:#333;
        }
    }
    li.active{
        display:block;
    }
}

.about{
    width:500px;
    text-align: center;
}
.install-button{

}

@media only screen and (max-width: 1599px) {
}
@media only screen and (max-width: 1299px) {
}
@media only screen and (max-width: 1199px) {
    .expression-box{width:900px;}
}
@media only screen and (max-width: 959px) {
    .expression-items {
        li {
            div {
                font-size: 42px;
                font-weight: 700;
            }
        }
    }
    .expression-time {
        bottom: 60px;
        width: 300px;
        margin-left: -150px;
    }
}
@media only screen and (max-width: 639px) {
    header {
        padding: 10px 20px;
    }
    main {
        padding: 0px;
    }
    main.admin {
        padding: 0px 20px;
    }
    footer {
        padding: 10px 20px;
    }
    .select-lang-box{
        display: block;
        .reverse{
            width:100%;
            height:34px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M17.6,17.8c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0l-3.3,3.3V1.8c0-0.6-0.5-1-1-1c-0.6,0-1,0.5-1,1v17.8 l-3.3-3.3c-0.4-0.4-1-0.4-1.4,0C6,16.5,6,16.8,6,17c0,0.3,0.1,0.5,0.3,0.7l5.1,5.1c0.4,0.4,1,0.4,1.4,0L17.6,17.8z'/%3E%3C/svg%3E%0A");
        }
    }
    .expression-title{
        top:50px;
    }
    .expression-back{
        top:15px;
        left:15px;
    }
    .expression-count{
        bottom:35px;
        left:20px;
    }
    .expression-control {
        bottom: 15px;
        right: 15px;
    }
    .expression-time {
        bottom: 44px;
        width: 160px;
        height: 1px;
        margin-left: -80px;
    }
    .expression-items {
        li {
            div {
                font-size: 32px;
                font-weight: 700;
            }
        }
    }
    .about{
        width:auto;
    }
    ul.lang li a:hover{
        text-decoration: none;
    }
}
@media only screen and (max-width: 400px) {
    .uk-notification-message{
        width:260px;
    }
}
